<ion-view view-title="Salon : {{ room.name }}" ng-controller="ChatsCtrl">
    <ion-content>
        <ion-list ng-show="room.name">
            <ion-item ng-hide="chats" class="textCenter">
                <i class="icon ion-loading-c"></i> Chargement...
            </ion-item>
            <ion-item ng-if="room.messages.length == 0" class="textCenter">
                <h4>No messages in this room. Send message to start.</h4>
            </ion-item>
            <ion-item class="" ng-repeat="chat in room.messages | orderBy:'createdAt':true" type="item-text-wrap">
                <h4>{{chat.from}} :</h4>
                <span am-time-ago="chat.createdAt" class="item-note">
                </span>
                <p>{{chat.text}}</p>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <form ng-submit="sendMessage(message)">
                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="Message" ng-model="message">
                    <button type="submit" class="button">Envoyer</button>
                  </label>
                </div>
              </form>
    </ion-content>
</ion-view>
